<main>
    <div class="mainContainer">
        <div class="heroContainer">
            <h1 class="font-heading">IBM Wallet</h1>
            <img classsrc="/src/assets/images/wallet.png" alt="" />
            <span>Gerencie suas finanças em um só lugar</span>
        </div>
        <div class="buttonContainer">
            <button class="redirectButton" routerLink="/auth/dashboard">
                Ir para o dashboard
            </button>
        </div>
    </div>
    <div class="bigImageContainer">
        <img
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fistoe.com.br%2Fibm-compra-apptio-nuvem%2F&psig=AOvVaw2QGhepDMsc9W9Npx6V1OgN&ust=1706717622759000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLCW7N7AhYQDFQAAAAAdAAAAABBm"
            alt=""
        />
    </div>
</main>
