<main>
    <div class="bigImageContainer">
        <img
            src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/4.2.png"
            alt=""
        />
    </div>
    <div class="mainContainer">
        <div class="heroContainer">
            <h1 class="font-heading">IBM Wallet</h1>
            <img classsrc="/src/assets/images/wallet.png" alt="" />
            <span>Gerencie suas finanças em um só lugar</span>
        </div>
        <div class="buttonContainer">
            <button class="redirectButton" routerLink="/auth/dashboard">
                Ir para o dashboard
            </button>
        </div>
    </div>
</main>
