<main>
    <div class="container">
        <div class="transactionsContainer">
            <div class="transactionsHeader">
                <h1 class="font-heading">Transações</h1>
                <div class="transactionsHeaderButtonsContainer">
                    <button>Nova transação</button>
                    <button>Alterar transação</button>
                    <button>Deletar transação</button>
                </div>
            </div>
            <div class="lastTransactionsContainer">
                <span>Últimas transações</span>
                <div class="transactionsTableContainer">
                    <span *ngIf="transactions.length == 0"
                        >Ainda não há registros!</span
                    >
                    <table
                        class="transactionsTable"
                        *ngIf="transactions.length > 0"
                    >
                        <tr class="tableHeadersContainer">
                            <th>#</th>
                            <th>Valor</th>
                            <th>Categoria</th>
                            <th>Destinatário</th>
                            <th>Alterar</th>
                            <th>Deletar</th>
                        </tr>
                        <tr
                            class="tableRow"
                            *ngFor="let transaction of transactions"
                        >
                            <th>{{ transaction.id }}</th>
                            <td>{{ transaction.value?.toFixed(2) }}</td>
                            <td>{{ transaction.category?.name }}</td>
                            <td>{{ transaction.recipient?.name }}</td>
                            <td>
                                <button
                                    (click)="onClickUpdate(transaction)"
                                    class="updateButton"
                                >
                                    Alterar
                                </button>
                            </td>
                            <td>
                                <button
                                    (click)="onClickDelete(transaction)"
                                    class="deleteButton"
                                >
                                    Deletar
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="entitiesContainer">
            <span>Outras entidades</span>
            <button routerLink="/auth/categories">Categorias</button>
            <button routerLink="/auth/recipients">Destinatários</button>
        </div>
    </div>
</main>

<app-modal
    (closeModal)="receiveCloseModal($event)"
    modalId="actionModal"
    *ngIf="currentModal != null"
>
    <div class="modalContainer" *ngIf="currentModal.action == 'update'">
        <h2>Atualizar</h2>
        <div class="inputsContainer">
            <div class="inputContainer">
                <label for="">Valor da transação</label>
                <input [(ngModel)]="currentModal.data.value" type="text" />
            </div>
            <div class="inputContainer">
                <label for="">Categoria</label>
                <select [(ngModel)]="currentModal.data.category_id">
                    <option
                        *ngFor="let category of categories"
                        [selected]="
                            category.name == currentModal.data.category_name
                        "
                        [value]="category.id"
                    >
                        {{ category.name }}
                    </option>
                </select>
            </div>
            <div class="inputContainer">
                <label for="">Destinatário</label>
                <select [(ngModel)]="currentModal.data.recipient_id">
                    <option
                        *ngFor="let recipient of recipients"
                        [selected]="
                            recipient.name == currentModal.data.category_name
                        "
                        [value]="recipient.id"
                    >
                        {{ recipient.name }}
                    </option>
                </select>
            </div>
            <div class="inputContainer">
                <label for="">Data</label>
                <input [(ngModel)]="currentModal.data.created_at" type="date" />
            </div>
        </div>

        <button (click)="onClickModalUpdate()" class="modalSubmit">
            Atualizar
        </button>
    </div>
    <div class="modalContainer" *ngIf="currentModal.action == 'delete'">
        <h2>Deletar</h2>
        <div class="confirmationContainer">
            <span
                >Tem certeza que deseja deletar a transação #{{
                    currentModal.data.id
                }}?</span
            >
            <div class="confirmationInfo">
                <span
                    ><b>Valor: </b>
                    {{ currentModal.data.value?.toFixed(2) }}</span
                >
                <span
                    ><b>Categoria: </b>
                    {{ currentModal.data.category_name }}</span
                >
                <span
                    ><b>Destinatário: </b>
                    {{ currentModal.data.recipient_name }}</span
                >
            </div>
        </div>

        <button (click)="onClickModalDelete()" class="modalSubmit">
            Deletar
        </button>
    </div>
</app-modal>
